//---- VAriables
    $textColor: rgb(112, 143, 189);
    $bgColorItem: rgb(112, 143, 189);
    $bgTemplate: rgb(42, 49, 61);

//---- General CSS
body {
    font-family: 'Poppins', sans-serif;
    background: lighten($bgTemplate, 70%);
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 0px 10px;
    background: lighten($bgTemplate, 70%) !important;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
    perspective: 1500px;
}
//---- Specific CSS

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
.fa-cog{
    font-size: 1.4em !important;
}
#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: $bgTemplate;
    color: #fff;
    transition: all 0.6s cubic-bezier(0.945, 0.020, 0.270, 0.665);
    transform-origin: bottom left;
    .sidebar-header {
        padding-top: 20px;
        background: $bgTemplate;
        img {
            width: 200px;
            padding-bottom: 10px;
        }
    }
    p{color:#fff; margin: 0 !important;}

    ul {
        padding: 20px 0;
        border-bottom: 2px solid #47748b;
        p {
            color: #fff;
            padding: 10px;
        }
        li a {
            padding: 10px;
            font-size: 1.1em;
            display: block;
            color: $textColor;
            text-decoration: none;
        }
        li a:hover {
            color: $bgTemplate;
            background: lighten($bgColorItem, 25%)
        }
        ul li.active > a, a[aria-expanded="true"] {
            color: $bgTemplate;
            background: $bgColorItem;
        }   
    }
}


#sidebar.active {
    margin-left: -250px;
    transform: rotateY(80deg);
}



a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}

#sidebarCollapse {
    width: 40px;
    height: 40px;
    background: lighten($bgTemplate, 70%);;
    cursor: pointer;
    span {
        width: 80%;
        height: 2px;
        margin: 0 auto;
        display: block;
        background: #555;
        transition: all 0.8s cubic-bezier(0.810, -0.330, 0.345, 1.375);
        transition-delay: 0.2s;
    }
    span:first-of-type {
        transform: rotate(45deg) translate(2px, 2px);
    }
    span:nth-of-type(2) {
        opacity: 0;
    }
    span:last-of-type {
        transform: rotate(-45deg) translate(1px, -1px);
    }
}
.nav-link{
    font-weight:200; 
    display: inline;
}
#sidebarCollapse.active span {
    transform: none;
    opacity: 1;
    margin: 5px auto;
}
/* ---------------------------------------------------
    SEARCH BAR
----------------------------------------------------- */
.searchBar{
    
    input{
        height: 50px;
    }
    input:nth-child(1){
        min-width: 50%;
    }
    input:nth-child(2){
        min-width: 30%;
    }
    button{
        min-width: 7%;
        margin-left: 20px;
        background-color: $bgColorItem;
        color: #fff;
        border: 1px solid $bgColorItem;
        &:hover, &:active, &:focus{
            background-color: $bgTemplate;
            border: 1px solid $bgTemplate;
        }
    }
}
.contentResult{
margin-top: 40px;
}
.resultSearch, .filterSide{ 
    width: 80%;
    box-sizing: border-box !important;
    min-height: 500px;
    
}
.filterSide {
    position: relative;
    width: 17%;
    min-width: 250px;
    min-height: 500px;
    background-color: #fff;
    border: 2px solid lighten($bgTemplate,50%);
    border-radius: 7px;
    &::before{
        content: "Filter";
        position: absolute;
        top: -25px;
        font-weight:bold; 
    }
}
.card{
    border-radius: 7px;
    .card-header{
        background-color: lighten($bgColorItem, 27%);
        height: 40px;
        border-radius:  7px 7px 0 0;
    }
    h6{
        font-size: 1em;
        line-height: 1em;
        color: $bgColorItem;
    }
}

footer{
    background-color: lighten($bgTemplate, 15%);
    padding: 100px 0;
    img{
        width: 80px;
    }
}

/* ---------------------------------------------------
    login and signup Page  
----------------------------------------------------- */

.text-color{
    color: $textColor;
 }
 
 .bg-color{
     background-color: $bgColorItem;
 }
 
 
.vertical-center {
    min-height: calc(100vh - 100px); 
    display: flex;
    align-items: center;
  }
.bg-form{
    background-color: $bgColorItem;
    border-color: $bgColorItem; 
    &:hover{
        background-color: darken($bgColorItem, 20%);        
        border-color: darken($bgColorItem, 20%);        
    }
}

.logmein{
    border-radius: 20px  65px!important; 
    background-color: rgb(42, 49, 61) !important;
    position: relative;
    border: 2px solid rgb(255, 255, 255) ;
    a{text-decoration: none;}
    a:nth-child(3) { float: right; }
    hr{
          border: .5px solid darken($textColor,20%)
      }  
    .men {
        text-align: center;
        margin: 0 !important;
        padding: 0 !important; 
        img{
            position: absolute; 
            z-index: 999; 
            background: #4c6994;
            width: 100px; 
            top: -60px;
            left: calc(100%/2 - 50px);
            border-radius: 50px;
        }
    }      
}
button{
    color: #fff !important;
}


/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
        transform: rotateY(90deg);
        .active {
        margin-left: 0;
        transform: none;
    }
    }
    #sidebarCollapse{
        span:first-of-type,
        span:nth-of-type(2),
        span:last-of-type {
            transform: none;
            opacity: 1;
            margin: 5px auto;
        }
        .active span {
            margin: 0 auto;
            &:first-of-type {
                transform: rotate(45deg) translate(2px, 2px);
            }
            &:nth-of-type(2) {
                opacity: 0;
            }
            &:last-of-type {
                transform: rotate(-45deg) translate(1px, -1px);
            }
        }

    }
}